<!DOCTYPE html>
<html>
<!--   <p>
    <span style="font-size: 36px; color: rgb(192, 0, 0);">Jane King&nbsp;</span><span style="font-size: 36px;"> &nbsp;</span>
  </p> -->
  
  
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
     <h1>
        <a href="/index.html" style="font-size: 36px; color: rgb(192, 0, 0);" > Jane King </a>
<!--       <a href="/~pavlo/" title="Andy Pavlo - Carnegie Mellon University">Andy Pavlo</a> -->
    </h1>
  </head>

  
  <body>
    <nav>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
<div class="container">
  {{ content }}
  <p> what's this </p>
</div>
  
  <footer>
   <ul>
   <!-- 
      <li><a href="mailto:user@mail.com">email</a></li>
    <li><a href="link">description</a></li> 
   -->
   </ul>
  </footer>
  </body>

</html>
